<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".core.HiltApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BusKitorang"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".views.redirectToPayment.RedirectPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".views.detailtiket.DetailTiketActivity"
            android:exported="false" />
        <activity
            android:name=".views.seat.SelectSeatActivity"
            android:exported="false" />
        <activity
            android:name=".views.payment.SnapPaymentWebActivity"
            android:exported="false" />
        <activity
            android:name=".views.detailbus.DetailBusActivity"
            android:exported="false" />
        <activity
            android:name=".views.payment.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".views.rute.RuteActivity"
            android:exported="false" />
        <activity
            android:name=".views.profile.LogoutRedirectActivity"
            android:exported="false" />
        <activity
            android:name=".views.dashboard.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".views.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".views.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>